/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-image: url('../images/background.jpg');
	background-attachment: fixed;
	background-size: cover;
}

header {
	margin-bottom: 1em;
}

.logo{
	width:50%;
}

.glass-container{
	position: relative;
	border: 1px solid;
	margin:0 auto 0 auto;
	background: rgba(0, 0, 0, 0.6);
	padding: 1.5em 1.5em 1.5em 1.5em;
	border-radius: 1.5em 1.5em 1.5em 1.5em;
}

.left{
	float: left;
}

.right{
	float: right;
}

.carousel-caption{
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	text-align: left;
	left: 0px;
	bottom: 0px;
	padding-bottom: 15px!important;
	padding-top: 15px!important;
}

.carousel-caption h4{
	margin-left: 1em;
}

.carousel-caption p{
	font-size: 12px;
	color:orange;
	margin-left: 2em;
	margin-right: 2em;
}

.carousel-inner{
	border-radius: 6px 6px 6px 6px;
}

.carousel-control.left{
	border-radius: 6px 0px 0px 6px;
}

.carousel-control.right{
	border-radius: 6px 6px 6px 6px;
}

/*
da281e
df4e17
*/

.cogo-header{
	font-weight: bold;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: white;
	border-radius: 4px 4px 4px 4px;
	background-image: linear-gradient(#df4e17, #3F3F3F);
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	top: 5px;
	padding-left: 5px;
}

.article{
	margin-top: 10px;
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
	border-radius: 4px 4px 4px 4px;
	position: relative;
	padding: 0 0 20px 0;
}

.article.main{
	margin-top: 0;
}

.article h1{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.article hr.title-separator{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
    height: 1px;
    margin-left: 10px;
	margin-right: 5px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.article .subtitle{
	margin-top: 5px;
	margin-left: 15px;
	font-style: italic; 
}

.article .article-content{
	margin: 15px 15px 0 15px;
	overflow: hidden;
	margin-top: -5px;
}

.article .article-content .article-text{
	position: relative;
}

.article-text img{
	display: none;
}

.article .article-img{
	margin-right: 15px;
	margin-bottom: 5px;
}

.article .article-container{
	height: 30em;
}

.article .article-large-container{
	height: 20em;
	overflow: hidden;
}

.article .article-main-container{
	overflow: hidden;
}

.article .article-socios-container{
	height: 20em;
	overflow: hidden;
}

.article .article-main-container .article-content{
	padding: 0px 25px 25px 25px;
}

.article .article-main-container .article-text{
	font-size: 1.2em;
}

.article .article-footer{
	height: 0.9em;
	width: 100%;
	margin-top: -0.5em;
}

.article .article-footer .left{
	margin-left: 15px;
	color: gray;
}

.article .article-footer .right{
	margin-right: 15px;
}

hr.footer-separator{
	height:12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: -5px;
}

.article h3{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.article h3 a:link {color:#FFFFFF;}      /* unvisited link */
.article h3 a:visited {color:#FFFFFF;}  /* visited link */
.article h3 a:hover {color:#BABABA; text-decoration: none;}  /* mouse over link */
.article h3 a:active {color:#FFFFFF;}

.event-object{
	width: 48px;
	border-radius: 4px 4px 4px 4px;
	border-top: 1px solid red;
	border-right: 1px solid red;
	border-bottom: 1px solid red;
	border-left: 1px solid red;
	background-color: #B40404;
	color: #FFFFFF;
	text-align: center;
}

.article-link{
	display: none;
}

.event-list{
	margin-top: 15px;
	padding: 0 0 0 25px;
}

.event-list li{
	float: left;
	width: 100%;
}

.event-list li .event-object{
	float: left;
	margin-right: 5px;
}

.event-list li p{
	color: #FFFFFF;
	font-weight: bold;
}

.event-list li p:hover{
	color: gray;
}

.footer-separator{
	border: 1px solid #cccccc;
	clear: both;
	margin: 16px 0 18px;
	height: 0;
}

.footer{
	border-radius: 10px 10px 10px 10px;
	background: rgba(0, 0, 0, 0.6);
	margin: 0px 0px 0px 0px;
	display:table-cell;
	vertical-align:middle;
}

.footer .disclaimer{
	display:table-cell;
	vertical-align:middle;
	border-right: 1px solid gray;
	color: gray;
	margin: 10px 0px 10px 0px;
}

.footer .social-links{
	display:table-cell;
	vertical-align:middle;
	height: 100%;
}

.footer .disclaimer > p{
	line-height: 2.29em;
	margin: 4px 4px 4px 4px;
}

.footer .footer-logo{
	float: left;
	width: 12em;
	margin: 0 5px 0 5px;
}

.social-button-containers{
	width: 100%;
	text-align: center;
	height:8em;
	margin-top:5em;
}

.eventos-list h3{
	color: #FFFFFF;
	text-shadow: 2px 2px 5px black;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.event-list ul li {
	color:#444; /* Set color of list item to a dark gray */
	list-style-type:none; /* hide default bullets */
}

.event-list ul li {
	color:#444; /* set color of list item to a dark gray */
	list-style:none; /* if you’re not already using a reset */
}

.event-list ul li:before {
	color:red; /* set color to red */
	content:"\2022"; /* /2022 is the numerical unicode for &bull; */
	font-size:1.5em; /* set the font-size of the bullet if necessary. Make sure to use em or %*/
	padding-right:.25em; /* give the bullet some padding from the text Make sure to use em*/
	position:relative;
	top:.1em; /* set the vertical position of the bullet if necessary. Make sure to use em or % */
}

.carousel-inner .item{
	overflow: hidden;
	height: 25em;
	background-size: cover;
}

.carousel-caption{
	height: 10em;
}

.carousel-caption img{
	display: none;
}

.carousel-caption h4 a:link {color:#FFFFFF;}      /* unvisited link */
.carousel-caption h4 a:visited {color:#FFFFFF;}  /* visited link */
.carousel-caption h4 a:hover {color:#BABABA; text-decoration: none;}  /* mouse over link */
.carousel-caption h4 a:active {color:#FFFFFF;}

.fb-likebox-container{
	margin-top: 10px;
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
	display: inline-block;
}

.article-author-date{
	padding: 5px 1em 0 1em;
}

.article-author-date p{
	float: right;
}

.fb-likebutton-container{
	display: inline-block;
	float: left;
}

.article-tags{
	color: gray;
	background-color: #3C3C3C;
	border: 1px solid gray;
	margin: 0 1em 1em 1em;
	font-weight: bold;
}

.article-tags span{
	margin-right: 1em;
}

.article-sources{
	font-size: 0.8em;
	margin-left: 2em;
}

.modal-content {
  background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
}
.modal-dialog {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)!important;
	-ms-transform:translate(-50%,-50%)!important;
	-webkit-transform:translate(-50%,-50%)!important;
}

.modal-body {
    overflow-y: auto;
}
.modal-footer {
    margin-top: 0;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 100%;
  }
}

.article-content.asociate .thumbnail{
	float: right;
	background: transparent;
	border: none;
	margin-left: 1em;
}

.article-content.asociate .article-text{
	margin-top: 1.5em;
	line-height: 2em;
	font-weight: bold;
}

.article-content.asociate ul li{
	font-size: 1.2em;
	font-weight: bold;
}

.article-content.asociate ul {
	margin-top: 3em;
}

.article-content.institucional ol li{
	margin-bottom: 1.5em;
	font-size: 1.2em;
}

.article-content.institucional ol {
	margin-top: 3em;
}

.article-content.institucional{
	padding-right: 3em!important;
}

/*Fix glyphicon escape problem*/
.glyphicon-bell:before {
  content: "\d83d\dd14";
}
.glyphicon-bookmark:before {
  content: "\d83d\dd16";
}
.glyphicon-briefcase:before {
  content: "\d83d\dcbc";
}
.glyphicon-calendar:before {
  content: "\d83d\dcc5";
}
.glyphicon-camera:before {
  content: "\d83d\dcf7";
}
.glyphicon-fire:before {
  content: "\d83d\dd25";
}
.glyphicon-lock:before {
  content: "\d83d\dd12";
}
.glyphicon-paperclip:before {
  content: "\d83d\dcce";
}
.glyphicon-pushpin:before {
  content: "\d83d\dccc";
}
.glyphicon-wrench:before {
  content: "\d83d\dd27";
}

.related-post{
	color: #FFFFFF;
	position: relative;
	border: none;
	margin:0 auto 0 auto;
	background: rgba(0, 0, 0, 0.6);
	padding: 1.5em 1.5em 1.5em 1.5em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.related-post p.related-post-title{
	font-weight: bold;
	font-size: 1.2em;
	color: #df4e17;
}

.related-post .section{
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0!important;
}

.related-post .side-article{

}

.related-post .side-article .title{
	font-weight: bold;
}

.related-post .side-article hr{
	margin-top: 0px;
	margin-bottom: 10px;
	border: 0;
    height: 1px;
    margin-left: 0;
	margin-right: 5px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.75), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0.75), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0.75), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

.related-post .side-article .thumbnail{
	margin-bottom: 10px;
}

hr.separator {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px white;
}
hr.separator:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}